.postWrapper {
    padding: 15px;
}
.formPost textarea{
    display: block;
    border: 1px solid #f5f5f5;
    border-radius: 5px;
    width: 300px;
    height: 100px;
    margin: 20px 0;
}
.formPost button {
    border: 1px solid #6e7882;
    padding: 10px 25px;
    color: #ffffff;
    background-color: #6e7882;
    cursor: pointer;
}
.formPost button:hover {
    background: #243542;
}