.nav {
    background: #354c5f;
    width: 28%;
    height: auto;
    padding-top: 20px;
}
.nav li {
    padding: 15px;
    border-bottom: 1px solid #b0c4d4;
    cursor: pointer;
}
.nav li:hover {
    background: #243542;
}
.nav li a {
    color: #b0c4d4;
    padding: 5px 10px 5px 0;
    display: block;
}
.nav li a.linkActive {
    color: #fff;
}
.friendsBlock {
    padding: 20px 15px;
    color: #fff;
}