.itemList {
    display: flex;
    align-items: center;
    margin-right: auto;
    padding: 10px 0;
}
.itemList:nth-child(2n) {
    flex-direction: row-reverse;
}
.itemList img {
    border-radius: 50%;
}
.messages {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
}